* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  position: relative;
  height: 80vh;
}

/* Header */
.nav {
  background-color: #414361;
  color: #ffa9e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  min-height: 10vh;
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  align-items: center;
  height: 100%;
  padding: 0.25rem;
}

.nav li:active {
  background-color: #ccb69b;
}

.nav li:hover {
  background-color: #7f2ccb;
}

/* Footer */
.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  padding: 0 1rem;
  background-color: #414361;
  color: #ffa9e7;
}

.footer > a {
  padding: 0 15px;
}

/* Home */
.jumbotron {
  margin-top: -1.6 vh;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */
.title {
  position: relative;
  top: 180px;
  text-align: right;
  margin-right: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: large;
  text-transform: uppercase;
}

/* About */

.aboutBackground {
  background-color: #ccb69b;
  height: 100%;
}

.aboutMe {
  text-align: center;
}

.aboutImg {
  width: 40%;
  background-image: url(../img/personal-pic.JPG);
  background-size: cover;
  background-position: center;
  margin-right: 5vh;
}

.aboutText {
  color: #414361;
  flex-grow: 2;
}

.aboutGrid {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}

/* Portfolio */
.portfolioContainer {
  height: 80vh;
  background-image: url(../img/portfolio.jpg);
  background-size: cover;
  background-position: center;
}

.portfolioTitle {
  text-align: center;
}

.portfolioGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.projectName {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
}

.image {
  width: 200px;
  height: 200px;
  flex: 0 1 auto;
}

/* Contact */

.contactBackground {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}
.contactTitle {
  text-align: center;
}

.contactTitle:hover {
  color: #414361;
}

.contactForm {
  padding: 50px 100px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
}

.contactInput {
  line-height: 30pt;
}

/* Resume */

/* <a href="https://www.freepik.com/free-vector/abstract-colorful-technology-dotted-wave-background_6166234.htm#query=background&position=21&from_view=keyword">Image by Harryarts</a> on Freepik */
.resumeBackground {
  background-image: url("../img/resume.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.resumeTitle {
  text-align: center;
  color: #ffa9e7;
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.resumeProf {
  text-align: center;
  color: #ffa9e7;
  text-decoration: none;
}

.resumeProfTitle {
  text-align: center;
}

.resumeList {
  list-style: none;
}

.resumeDownload {
  text-align: center;
}

.resumeDownloadLink {
  text-decoration: none;
  color: #ffa9e7;
  font-weight: 600;
}
